.bt-portfolio{
    text-decoration: none;
    background: #2978b5;
    color: #fff;
    padding: 12px 23px;
    border-radius: 5px;
    font-weight: bold;
}

.bt-portfolio a:hover{
    background: #15314e;
}